.container{
    color: none;
    border: none;
    border-radius: none;
    outline: none;
}

.container input {
    margin: 10px;
    right: 10px;
    width: 200px;
    padding: 10px;
    font-size: 0.9rem;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05rem; 
}

  
